<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3" *ngFor="let product of products">
                    <div class="product-box">
                        <a routerLink="/products/{{ product.id }}">
                            <img src="{{ product.imageUrl }}" class="img-responsive">
                        </a>
                        <a routerLink="/products/{{ product.id }}">
                            <h1>{{ product.name }}</h1>
                        </a>
                        <h2>{{ product.description }} </h2>
                        <div class="price">{{ product.unitPrice | currency:'USD' }}</div>
                        <a href="#" class="primary-btn">Add to cart</a>
                    </div>
                </div>
                <div *ngIf="products.length == 0">
                    <h1 class="text-center">No product found for the given keyword.</h1>
                </div>
            </div>
            <div class="footer-pagination" *ngIf="products.length != 0">
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-9" style="padding-left: 30%">
                                <ngb-pagination [(page)]="pageNumber" [pageSize]="pageSize" [collectionSize]="totalElements" (pageChange)="getAllProducts()"></ngb-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>